<h1>liste des Trips</h1>

<% @trips.each do |trip| %>
  <b><%= link_to trip.creator, trip_path(trip.id) %></b> a créé le trip pour <b><%=trip.destination %></b> qui coutera <%= trip.budget %> €<br>
<% end %>