<h1>Liste des participants</h1>

<% @participants.each do |participant| %>
  <%= participant.name %>
  <%= button_to 'Modifier le nom du participant', edit_participant_path(participant.id), method: :get %>
  <%= button_to 'Supprimer le participant', participant_path(participant.id), method: :delete %>

<%end %>
<% @participants.each do |participant| %>	
			
				<b><%= participant.name %></b> a créé le trip pour <b></b> qui coutera € </br>
		<% end %>