<h1>Ajouter un participant: </h1>
<%= form_for :participant, url: participants_path(@participant) do |f| %>
  <%= f.label :name, "Le participant:  "%> 
  <%= f.text_field :name %><br />
  <%= f.submit "Ajouter un participant"%>
<% end %>