 <div class="parallax-container">
    <div class="parallax"><img src="/assets/parallax1.jpg"></div>
  </div>
  <div class="section white center-align">
    <div class="row container">
      <h1 class="header">Very Wild Trip</h1>
      <h3 class="grey-text text-darken-3 lighten-3">Very Wild Trip est le site dont vous rêviez pour partir en vacance entre amis, n'attendez plus!</h3>
     <%= link_to trips_path, class: "center-align" do %><button class="center-align waves-effects waves-lights btn-large">Voir tous les trips</button>
     <% end %>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/assets/parallax2.jpg"></div>
  </div>